.git/
.github/
venv/
node_modules/
logs/
data/
postgres_data/
firmware_packages/
ca/
apache/
nginx/
doc/
.env
.env.*
*.tar.gz
*.pdf
*.pyc
__pycache__/
deploy.sh
docker-compose.yml
ecosystem*.js
package*.json
*.md
